:root {
    --blue: #4970e4;
    --blue-translucent: rgba(73, 112, 228, 0.3);
    --white: #ffffff;
    --black: #000000;
    --background: url('../img/gura\ slep.jpg');
    --shadow: -3px 6px 24px hsla(328.6, 41.2%, 10%, 0.4);
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background) 0 / cover fixed;
}

ul {
    margin-bottom: 2em;
}

li {
    margin: 0.5em 0;
}

.small-text {
    font-size: 1rem;
}

.overlay {
    display: flex;
    flex-direction: row;
    background: var(--blue-translucent);
    min-height: 100%;
}


