:root {
    --blue: #4970e4;
    --blue-translucent: rgba(73, 112, 228, 0.7);
    --background: url('../img/gura\ slep.jpg');
}

* {
    font-family: 'Roboto', sans-serif;
}


html

.overlay {
    display: flex;
}

body {
    background: var(--background) 0 / cover fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 0,0;
}